.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }


.logo {
    width: 150px; /* Tamaño de la imagen */
    height: auto;
    animation: zoomIn 3s ease-in-out infinite alternate;
  }

  /* Animación de zoom suave */
    @keyframes zoomIn {
      0% {
        transform: scale(1); /* Tamaño original */
      }
      100% {
        transform: scale(0.5); /* Zoom leve */
      }
}

ion-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}


ion-card-header {
  text-align: center;
}

ion-item {
  --background: transparent;
}

ion-input {
  --padding-start: 10px;
}

ion-button {
  --background: #007bff;
  --color: #fff;
  --border-radius: 20px;
  --box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3);
  margin-top: 1rem;
}


ion-button:hover {
  --background: #0056b3;
}