ion-card {
  margin-top: 16px;
}

.mat-wrapper {
  margin-top: 12px;
}

/* asegura que el mat-form-field use todo el ancho dentro de Ionic */
.full-width {
  width: 100%;
}

.action-buttons {
  display: flex;
  gap: 12px;
  margin-top: 16px;
}
